<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fstn.mobile.mymealcard" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.fstn.mobile.mymealcard.Balance"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fstn.mobile.mymealcard.CardActivity"
            android:label="@string/title_activity_card"
            android:parentActivityName="com.fstn.mobile.mymealcard.Balance" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fstn.mobile.mymealcard.Balance" />
        </activity>
        <activity
            android:name="com.fstn.mobile.mymealcard.TransactionsActivity"
            android:label="@string/title_activity_transactions"
            android:parentActivityName="com.fstn.mobile.mymealcard.Balance" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fstn.mobile.mymealcard.Balance" />
        </activity>
    </application>

</manifest>
